@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>This is a book store app</h1>
<div class="text-center">
    <h1 class="display-4">Welcome to my bookstore12</h1>
    <h3>A few book - 2</h3>
    

    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach(var item in Model.GetBooks)
        {
            <tr>
                <td>@item.BookId</td>
                <td>@item.BookName</td>
                <td>@item.BookQuantity</td>
            </tr>
        }
    </table>
</div>
